.highlight {
    border: 0.1em black solid;
}

#insert-info {
    font-size: 1.25em;
    font-weight: bold;
    color: #ffffff;
    position: fixed;
    background: #FF6000;
    margin: 0.5em;
    text-transform: capitalize;
    border: 0;
    padding: 0.5em 1em;
}