body { padding: 10px; background-color: #fff; }

h2 { margin: 10px 0; }

h4 { margin: 20px 0 10px; }

.nav-tabs { border-bottom: 0; }
.nav-tabs .active:first-child:after { width: 4px; height: 4px; border-left: 1px solid #ddd; margin-top: -2px; content: ""; background: #fff; position: absolute; }

.text-muted { margin-bottom: 0; }

.item-cta { padding: 4px 8px; border-radius: 4px; margin: 4px 0; color: #337ab7; cursor: pointer; }
.item-cta:hover { background: #eee; }

.renderjson { margin: 4px 0; font-size: 12px; }

svg { width: 100% !important; font: 10px sans-serif; }
.line { fill: none; stroke: #999; stroke-width: 1px; }
.axis path, .axis line { fill: none; stroke: #999; shape-rendering: crispEdges; }
text { color: #ccc; }