body {
    background-color: #fff;
}
svg {
    font: 10px sans-serif;
}
.line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.realtime-chart { float:right}